<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="description" contents="SageTestManagment">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "./css/w3.css" %}">
        <link rel="stylesheet" href="{% static "./css/style.css" %}">
        {% include "./favicon.html" %}
        {% block header %}
        {% endblock %}
        <title>
            {% block title %} Page Title {% endblock %}
        </title>
        {% include "./html/navbar.html" %}
    </head>
    <body>
        {% block content %}
            Body content
        {% endblock %}

        {% block content_2 %}
            Body content_2
        {% endblock %}
        {% include "./html/footer.html" %}
    </body>
</html>