{% extends 'base.html' %}
{% load static %}
{% block header %}
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="{% static "./css/faqstyle.css" %}">
  <style>
  a:link, a:visited, a:hover {
  text-decoration: none;
  }
  </style>
{% endblock %}
{% block title %} TeamX | FAQ {% endblock %}
{% block content %}
<body>
<header class="cd-header flex flex-column flex-center">
  <div class="text-component text-center">
    <h1>TeamX FAQs</h1>
  </div>
</header>

<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories">
    <li><a class="cd-faq__category truncate" href="#users">Users</a></li>
    <li><a class="cd-faq__category truncate" href="#administrator">Administrators</a></li>
		<li><a class="cd-faq__category truncate" href="#account">Accounts</a></li>
		<li><a class="cd-faq__category truncate" href="#bug_fixes_and_other">Bug Fixes and Other</a></li>
	</ul> <!-- cd-faq__categories -->

	<div class="cd-faq__items">

      <ul id="users" class="cd-faq__group">
          <li class="cd-faq__title"><h2>Users</h2></li>
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"><span>How do I change my password?</span></a>
            <div class="cd-faq__content">
              <div class="text-component">
                <p>In order to change your password, there are two ways to do so. The first option being, emailing your admin, as they have the ability to change yor password for you, or you can reset your password through our email function. </p>
              </div>
            </div> <!-- cd-faq__content -->
          </li>
    
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"><span>How do I delete my account?</span></a>
            <div class="cd-faq__content">
              <div class="text-component">
                <p>In order to delete your account, you must ask your administrator to delete your account. You can contact your administrator and ask for them to remove your account as needed.</p>
              </div>
            </div> <!-- cd-faq__content -->
          </li>
    
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"><span>How do I change my account settings?</span></a>
            <div class="cd-faq__content">
              <div class="text-component">
                <p>Currently in order to change your account settings, you would need to contact the admin. </p>
              </div>
            </div> <!-- cd-faq__content -->
          </li>
    
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"><span>I forgot my password. How do I reset it?</span></a>
            <div class="cd-faq__content">
              <div class="text-component">
                <p>If for some reason you are unable to access your account due to a password issue you would be required to use our contact page. Sending us an email with a brief description of the issue would result in you recieving an email giving you instructions on how to reset your password. </p>
              </div>
            </div> <!-- cd-faq__content -->
          </li>
        </ul> <!-- cd-faq__group -->

		<ul id="administrator" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Administrator </h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How do I change my password?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>In order to change your password, there are two ways to do so. The first option being, emailing your admin, as they have the ability to change yor password for you, or you can reset your password through our email function. </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How do I delete my account?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>In order to delete your account, you must ask your administrator to delete your account. You can contact your administrator and ask for them to remove your account as needed.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How do I change my account settings?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Currently in order to change your account settings, you would need to contact the admin. </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>I forgot my password. How do I reset it?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>If for some reason you are unable to access your account due to a password issue you would be required to use our contact page. Sending us an email with a brief description of the issue would result in you recieving an email giving you instructions on how to reset your password. </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
    </ul> <!-- cd-faq__group -->

		<ul id="account" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Account</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How do I change my password?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>In order to change your password, there are two ways to do so. The first option being, emailing your admin, as they have the ability to change yor password for you, or you can reset your password through our email function. </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

		<ul id="administrator" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Administrator </h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How do I remove someone from a team?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>In order to remove someone from a team, the admin must go to the User and head to the drop down menu and select a different team or none. </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How do I move someone into a different team?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>In order to move an individual into another team, you must go to the Users profile, and select a different team using the drop.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Can I remove a note?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>As an admin it is possible to remove a note a user has made. The admin must go to the note and simply click delete. </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
    </ul> <!-- cd-faq__group -->

			
		
        
		<ul id="bug_fixes_and_other" class="cd-faq__group">
                <li class="cd-faq__title"><h2>Bug Fixes and Other</h2></li>
                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>What do I do if I come across a bug?</span></a>
                    <div class="cd-faq__content">
              <div class="text-component">
                <p>If you come across a bug, head over to our contact page and send us an email. Please include what the bug is and when it occured.</p>
              </div>
                    </div> <!-- cd-faq__content -->
                </li>
    
                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>How do I submit a bug I have found?</span></a>
                    <div class="cd-faq__content">
              <div class="text-component">
                <p>If you have found a bug that throws a visual error (comes up with an error message) send us a screen shot of the issue, if the website is not doing as it should email us what it is doing, and what is should do.</p>
              </div>
                    </div> <!-- cd-faq__content -->
                </li>
    
                
    
               

	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> <!-- cd-faq -->
<script src="{% static "/js/util.js" %}"></script>
<script src="{% static "/js/mainfaq.js" %}"></script> 
{% endblock %}