<!-- <div class="w3-top w3-hide-small">
    <div class="w3-bar w3-xlarge w3-green w3-hover-opacity-off" id="myNavbar">
        <a href="#" class="w3-bar-item w3-button">HOME</a>
        <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
        <a href="#contact" class="w3-bar-item w3-button">CONTACT</a>
        <a href="admin/" class="w3-bar-item w3-button">ADMIN</a>
    </div>
</div> -->
<style>
body{
    padding-top: 70px;
}

.right{
    margin:5px;
    float: right; 
}
</style>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="/">TeamX</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'all_teams' %}">Teams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'help' %}">Help</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-success my-2 my-sm-0" type="button">Search</button>
    </form>  
  </nav>